<!DOCTYPE html>

<html lang="en" >
<head >
	<meta charset="UTF-8" >
	<meta name="description" content="Main page" />
	<meta name="keywords" content="HTML,CSS,JavaScript" />
	<meta name="author" content="Vasiliy Aleksashin" />
	<title >Cookies</title >
	<link rel="icon" href="view/res/cookies-icon.png" />
	<link rel="stylesheet" type="text/css" href="view/css/main.css" />
	<link rel="stylesheet" type="text/css" href="view/css/index.css" />
	<script type="text/javascript" src="view/lib/jquery-2.2.3.min.js" ></script >
	<script type="text/javascript" src="view/lib/jquery.cookie.js" ></script >
	<script type="text/javascript" src="view/script/index.js" ></script >
	<script type="text/javascript" src="view/script/general.js" ></script >
</head >
<body >
<br />
<br />
<br />
<div class="container" >
	<div class="select" >
		<h1 class="title" >Cookie App</h1 >
		<div class="cookie-block" >
			<p class="cookie text" >Click on the 'Get Cookie'<br />to get your cookie with lucky number</p >
			<p class="lucky text" ></p >
		</div >
		<div class="button-center" >
			<button class="get-button" >Get Cookie</button >
		</div >
		<div class="button-right button-margin" >
			<button class="login-button" >Log in</button >
		</div >
		<div class="button-right" >
			<button class="logout-button" >Log out</button >
		</div >
		<div class="button-right button-margin" >
			<form method="get" action="form_admin" >
				<input class="admin-button" type="submit" value="Admin" />
			</form >
		</div >
	</div >
</div >
</body >
</html >