.cookie-msg {
    width: 75%;
}

.table-admin, .table {
    width: 1000px;
}

.alert {
    color: #f00;
}

.spain-block {
    float: left;
}

.spain-back {
    float: right;
}

input[type=text] {
    width: inherit;
}
