body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0ca3d2;
}

.container {
    position: absolute;
    width: 640px;
}

.select {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-sizing: inherit;
}

.select:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.title {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, #eef2f5, #eef2f5);
    background-image: -moz-linear-gradient(top, #eef2f5 0%, #eef2f5 100%);
    background-image: -o-linear-gradient(top, #eef2f5 0%, #eef2f5 100%);
    background-image: -ms-linear-gradient(top, #eef2f5 0%, #eef2f5 100%);
    background-image: linear-gradient(to bottom, #eef2f5, #eef2f5);
    box-shadow: 0 1px whitesmoke;
}

.text {
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
}

.button-margin {
    margin: 20px 0 0;
}

.button-center {
    margin: 10px;
    position: relative;
    text-align: center;
}

.button-left {
    text-align: left;
}

.button-right {
    text-align: right;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

input, button {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=password] {
    width: 275px;
    margin: 5px;
    padding: 0 10px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-sizing: inherit;
}

input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

button {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8 0%, #cde5ef 100%);
    background-image: -o-linear-gradient(top, #edf5f8 0%, #cde5ef 100%);
    background-image: -ms-linear-gradient(top, #edf5f8 0%, #cde5ef 100%);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    cursor: pointer;
    box-sizing: inherit;
}

button:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
}

.warning {
    color: #fff;
    margin-left: 15px;
    font-size: 12px;
}
