<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Main</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <jsp-file>/WEB-INF/signin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <jsp-file>/WEB-INF/signup.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Operation</servlet-name>
        <jsp-file>/WEB-INF/operation.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditCookie</servlet-name>
        <jsp-file>/WEB-INF/editcookie.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddCookie</servlet-name>
        <jsp-file>/WEB-INF/addcookie.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>ShowDbCookie</servlet-name>
        <servlet-class>servlets.ShowDbCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllCookies</servlet-name>
        <servlet-class>servlets.ShowAllCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>servlets.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>servlets.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCookie</servlet-name>
        <servlet-class>servlets.AddNewCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCookie</servlet-name>
        <servlet-class>servlets.DeleteCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCurrentCookie</servlet-name>
        <servlet-class>servlets.EditCurrentCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurrentCookie</servlet-name>
        <servlet-class>servlets.GetCurrentCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousPage</servlet-name>
        <servlet-class>servlets.PreviousPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextPage</servlet-name>
        <servlet-class>servlets.NextPage</servlet-class>
    </servlet>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>servlets.CharsetFilter</filter-class>
        <init-param>
            <param-name>characterEncoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>>
    </filter>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operation</servlet-name>
        <url-pattern>/Operation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCookie</servlet-name>
        <url-pattern>/EditCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCookie</servlet-name>
        <url-pattern>/AddCookie</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowDbCookie</servlet-name>
        <url-pattern>/ShowDbCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllCookies</servlet-name>
        <url-pattern>/ShowAllCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCookie</servlet-name>
        <url-pattern>/AddNewCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCookie</servlet-name>
        <url-pattern>/DeleteCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCurrentCookie</servlet-name>
        <url-pattern>/EditCurrentCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCurrentCookie</servlet-name>
        <url-pattern>/GetCurrentCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPage</servlet-name>
        <url-pattern>/PreviousPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextPage</servlet-name>
        <url-pattern>/NextPage</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-name>MyListener</listener-name>
        <listener-class>servlets.MyListener</listener-class>
    </listener>

</web-app>