<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--suppress XmlUnboundNsPrefix -->
<configuration>
    <property name="LOG_HOME" value="${CATALINA_HOME}/logs"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/cookie.log</file>
        <encoder>
            <pattern>[%-5level] - %d{dd/MM/yyyy HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</configuration>