<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--suppress XmlUnboundNsPrefix -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] - %d{dd/MM/yyyy HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>